
.searchResults ul{
  list-style: none;
  width: 40%;
  float: left;
}

.map {
  width: 50%;
  float: left;
}


.hotel {
  background: #ccc;
  border: 1px solid #666;
  margin: 10px;
  padding: 10px;
}

